{% set countdown = sidebar.countdown %}
{% if countdown %}
    {% set e = countdown.event %}
    <script>
        function countdown(endDate) {
            let days, hours, minutes, seconds;
            
            endDate = new Date(endDate).getTime();
            
            if (isNaN(endDate)) {
                return;
            }
            
            setInterval(calculate, 1000);
            
            function calculate() {
                let startDate = new Date();
                startDate = startDate.getTime();
                
                let timeRemaining = parseInt((endDate - startDate) / 1000);
                
                if (timeRemaining >= 0) {
                    days = parseInt(timeRemaining / 86400);
                    timeRemaining = (timeRemaining % 86400);
                    
                    hours = parseInt(timeRemaining / 3600);
                    timeRemaining = (timeRemaining % 3600);
                    
                    minutes = parseInt(timeRemaining / 60);
                    timeRemaining = (timeRemaining % 60);
                    
                    seconds = parseInt(timeRemaining);
                    
                    document.getElementById("days").innerHTML = parseInt(days, 10);
                    document.getElementById("hours").innerHTML = ("0" + hours).slice(-2);
                    document.getElementById("minutes").innerHTML = ("0" + minutes).slice(-2);
                    document.getElementById("seconds").innerHTML = ("0" + seconds).slice(-2);
                } else {
                    return;
                }
            }
        }
        
        (function () { 
          countdown('{{ e.start.iso }}');
        }());
    </script>
    
    {#<div class="panel-secondary-heading">Сейчас в эфире</div>#}
    <div class="panel panel-secondary">
        <div class="panel-body">
            <div class="mb-2 font-130 center">
                <a href="{{ e.url }}">{{ e.name }}</a><br>
                состоится через
            </div>
            <div id="countdown">
                <div id="days" class="digit">--</div>
                <div id="hours" class="digit">--</div>
                <div id="minutes" class="digit">--</div>
                <div id="seconds" class="digit">--</div>
                <div>Дни</div>
                <div>Часы</div>
                <div>Мин</div>
                <div>Сек</div>
            </div>
        </div>
    </div>
{% endif %}
