{% set pictures = sidebar.gallery %}
{% if pictures|length > 0 %}
    <div class="panel-secondary-heading">Новинки галереи</div>
    <div class="mb-3 sidebar-gallery">
        {% include 'components/gallery.twig' %}
    </div>
{% endif %}
