{% import 'macros.twig' as gm %}

{% if comic.origin %}
	<div class="panel-footer">
		<div class="glyphicon-block">
			{{ gm.gi('copyright-mark') }}
			<a href="{{ comic.origin }}">Источник</a>
		</div>
        {% include 'components/tags.twig' with { 'tags': comic.tag_links } only %}
	</div>
{% endif %}
