{% extends 'main/layout.twig' %}

{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% block content %}
	<div class="panel panel-primary">
		{% set breadcrumbs = [
			{ 'url': path_for('main.comics'), 'text': comics_title }
		] %}
		{{ lm.panel_header(_context, series.name, {
			'subtitle': series.sub_name,
			'buttons': [ m.edit_button('comic_series', series) ]
		}) }}
	  	<div class="panel-body">
			{% if series.publisher %}
	  			<p><b>Издательство:</b> <a href="{{ series.publisher.website }}">{{ series.publisher.name }}</a></p>
			{% endif %}
			{% if series.description %}
	  			<p>{{ series.description|raw }}</p>
			{% endif %}
		    {% include 'components/comics_issues.twig' with { 'comics': comics } only %}
	    </div>
		{% if series.tags %}
			<div class="panel-footer">
                {% include 'components/tags.twig' with { 'tags': series.tag_links } only %}
			</div>
		{% endif %}
	</div>
{% endblock %}
