<button class="btn-link open" ng-click="openFullscreen()" title="Полноэкранный режим">
    <i class="fas fa-expand fa-2x"></i>
</button>

<button class="btn-link fs-overlay close" ng-click="exitFullscreen()" title="Выйти из полноэкранного режима (Esc)">
    <i class="fas fa-times fa-lg"></i>
</button>

{% if prev %}
    <button class="btn-link fs-overlay prev" ng-click="navigateToPrev()" title="Назад{% if prev_comment %}: {{ prev_comment }}{% endif %}">
        <i class="fas fa-chevron-left fa-2x"></i>
    </button>
{% endif %}

{% if next %}
    <button class="btn-link fs-overlay next" ng-click="navigateToNext()" title="Вперед{% if next_comment %}: {{ next_comment }}{% endif %}">
        <i class="fas fa-chevron-right fa-2x"></i>
    </button>
{% endif %}
