{% if pictures|length > 0 %}
    {% set component_name = grid_mode ? 'gallery_grid' : 'gallery_uniform' %}
    
    {% include 'components/' ~ component_name ~ '.twig' with {
        'pictures': pictures,
        'final': true,
        'show_author': true,
        'lightbox': true
    } only %}
    
    {% if tag_link %}
        <div class="flex-center mt-2 mb-1">
            <a class="btn btn-lg btn-default" href="{{ tag_link }}" role="button">Все картинки &raquo;&raquo;</a>
        </div>
    {% endif %}
{% endif %}
