{% if pictures|length > 0 %}
    {% include 'components/gallery_uniform.twig' with {
        'pictures': pictures,
        'final': true,
        'show_author': true,
        'lightbox': true
    } only %}
    
    {% if tag_link %}
        <div class="center mt-3 mb-1">
            <a class="btn btn-lg btn-default" href="{{ tag_link }}" role="button">Все картинки &raquo;&raquo;</a>
        </div>
    {% endif %}
{% endif %}
