:root {
    --bluepost-color: #00bfff;
    --bluepost-quote-border-color: #2db32d;
}


/* quote / bluepost */

.quote--bluepost .collapse__header,
.quote--bluepost .collapse__header:visited,
.quote--bluepost .collapse__header:active,
.quote--bluepost .collapse__header:focus,
.quote--bluepost .collapse__header:hover {
    color: var(--bluepost-color);
}

.quote--bluepost .quote {
    background-color: var(--gray-3);
    border-left: 4px solid var(--bluepost-quote-border-color);
}

.news .quote:last-child {
    margin-bottom: 0;
}

.quote--bluepost {
    background-color: #0c0c0c;
    color: var(--bluepost-color);
    border: 0;
}

.quote--bluepost .quote--body {
    color: #4dc4ec;
    border: 0;
}

.quote--bluepost .quote--body b {
    color: white;
}

.quote--bluepost .quote--header {
    background: url(https://warcry.ru/images/blizzard.gif);
    background-repeat: no-repeat;
    background-position: left 0 top 2px;
    padding-left: 26px;
}

.quote--bluepost .quote--author a:link,
.quote--bluepost .quote--author a:visited,
.quote--bluepost .quote--author a:active {
    color: var(--bluepost-color);
    text-decoration: underline;
}

.quote--bluepost .quote--author a:hover {
    color: white;
}

/* font awesome */

.editor-toolbar a.fa-blue {
    color: #0029ff !important;
}
