<div id="site-buttons">
	<div id="pseudo-button">
		<a href="http://grimdawn.ru">Grim Dawn по-русски</a>
	</div>
			
    <a href="http://dacomics.ru/" title="Комиксы и стрипы по играм. Dragon Age, World of Warcraft, Deus Ex и многое другое!"><img src="http://dacomics.ru/images/button.gif" alt=""></a>
	
    <a href="http://subgames.ru/" title="Субъективно об играх — Заметки об играх"><img src="/images/subgames88x31.png" alt=""></a>
</div>

<div id="fansite">
	<a href="http://eu.battle.net/" title="Warcry.ru — официальный фан-сайт Blizzard"><img src="/images/blizzard_fansite_gold.gif" alt=""></a>
</div>
