<div class="site-buttons">
    <a href="https://associ.ru" title="Игра в Ассоциации" class="btn btn-default mt-1 mb-1">Ассоциации</a>
    <a href="https://bs.warcry.ru" title="Все стримы Blizzard на одном сайте" class="btn btn-default mt-1 mb-1">Blizzard Streams</a>
    <a href="https://grimdawn.ru" title="Новая Action RPG от создателей Titan Quest"><img src="{{ site_url }}/images/grimdawn1.gif" alt=""></a>
    <a href="https://dacomics.ru/" title="Комиксы и стрипы по играм. Dragon Age, World of Warcraft, Deus Ex и многое другое!"><img src="https://dacomics.ru/images/button.gif" alt=""></a>
    <a href="http://subgames.ru/" title="Субъективно об играх — Заметки об играх"><img src="{{ site_url }}/images/subgames88x31.png" alt=""></a>
</div>
