<div class="site-buttons">
	<a href="//bs.warcry.ru" title="Все стримы Blizzard на одном сайте" class="btn btn-default mt-1 mb-1">Blizzard Streams</a>
	<a href="//grimdawn.ru" title="Новая Action RPG от создателей Titan Quest"><img src="/images/grimdawn1.gif" alt=""></a>
    <a href="//dacomics.ru/" title="Комиксы и стрипы по играм. Dragon Age, World of Warcraft, Deus Ex и многое другое!"><img src="//dacomics.ru/images/button.gif" alt=""></a>
    <a href="//subgames.ru/" title="Субъективно об играх — Заметки об играх"><img src="/images/subgames88x31.png" alt=""></a>
</div>
