{% import 'macros.twig' as gm %}

<div class="panel-footer">
    {% include 'components/published_at.twig' with { 'entity': news } only %}
    {% include 'components/creator.twig' with { 'entity': news } only %}
    {% if news_item.forum_url %}
        <div class="glyphicon-block">
            <i class="fas fa-comments"></i>
            <a href="{{ news.forum_url }}" title="Комментарии на форуме">{{ news.posts }}</a>
        </div>
    {% endif %}
    {% include 'components/tags.twig' with { 'tags': news.tag_links } only %}
</div>
