{% extends 'main/layout.twig' %}

{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% set index = true %}
{% set no_disqus = true %}
{% set no_social = true %}

{% if can('news', 'create') %}
    {% set sidebar_buttons = [ m.create_button('news', 'Написать новость') ] %}
{% endif %}

{% block content %}
    <div id="news-index">
        {% if news|length > 0 %}
            {% for news_item in news %}
                <div class="panel panel-primary">
                    {{ lm.panel_game_header(news_item.game, news_item.display_title, {
                        'url': news_item.url,
                        'buttons': [ m.edit_button(news_item.entity_alias, news_item) ]
                    }) }}
                    
                    {% if news_item.entity_alias == 'events' %}
                        {% include 'components/event_bodyfooter.twig' with { 'event': news_item } only %}
                    {% else %}
                        <div class="panel-body article news">
                            {{ news_item.short_text|raw }}
                        </div>
    
                        {% include 'main/news/footer.twig' %}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            {{ lm.panel(_context, null, 'По заданным параметрам новости не найдены.') }}
        {% endif %}
        
        {% if paging %}
            <div id="news-pagination">
                {% include 'components/paging.twig' with { 'paging': paging } only %}
            </div>
        {% endif %}
    </div>
{% endblock %}
