{% extends 'main/layout.twig' %}

{% import 'main/macros.twig' as m %}
{% import 'main/local_macros.twig' as lm %}

{% if can('news', 'create') %}
    {% set sidebar_buttons = [ m.create_button('news', 'Написать новость') ] %}
{% endif %}

{% block content %}
	<div class="panel panel-primary">
		{{ lm.panel_header(_context, news_item.display_title, {
			'buttons': [ m.edit_button('news', news_item) ],
			'published': news_item.published
		}) }}

		<div class="panel-body article news">
            {{ news_item.full_text|raw }}
            
            {#<p>
        		{% for t in news_item.tag_links %}
        			<a href="{{ t.url }}" class="nd_article">#{{ t.text }}</a>
        		{% endfor %}
            </p>#}
        </div>

	    {% include 'main/news/footer.twig' %}
	</div>
{% endblock %}
